<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>developer-id</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.duckduckgo.macos.browser</key>
		<string>match Direct com.duckduckgo.macos.browser macos</string>
		<key>com.duckduckgo.macos.DBP.backgroundAgent</key>
		<string>match Direct com.duckduckgo.macos.DBP.backgroundAgent macos</string>
		<key>com.duckduckgo.macos.vpn.network-extension</key>
		<string>match Direct com.duckduckgo.macos.vpn.network-extension macos</string>
		<key>com.duckduckgo.macos.vpn</key>
		<string>match Direct com.duckduckgo.macos.vpn macos</string>
		<key>com.duckduckgo.macos.browser.alpha</key>
		<string>match Direct com.duckduckgo.macos.browser.alpha macos</string>
		<key>com.duckduckgo.macos.DBP.backgroundAgent.alpha</key>
		<string>match Direct com.duckduckgo.macos.DBP.backgroundAgent.alpha macos</string>
		<key>com.duckduckgo.macos.vpn.network-extension.alpha</key>
		<string>match Direct com.duckduckgo.macos.vpn.network-extension.alpha macos</string>
		<key>com.duckduckgo.macos.vpn.alpha</key>
		<string>match Direct com.duckduckgo.macos.vpn.alpha macos</string>
		<key>com.duckduckgo.macos.browser.review</key>
		<string>match Direct com.duckduckgo.macos.browser.review macos</string>
		<key>com.duckduckgo.macos.DBP.backgroundAgent.review</key>
		<string>match Direct com.duckduckgo.macos.DBP.backgroundAgent.review macos</string>
		<key>com.duckduckgo.macos.vpn.network-extension.review</key>
		<string>match Direct com.duckduckgo.macos.vpn.network-extension.review macos</string>
		<key>com.duckduckgo.macos.vpn.review</key>
		<string>match Direct com.duckduckgo.macos.vpn.review macos</string>
	</dict>
	<key>signingCertificate</key>
	<string></string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string></string>
</dict>
</plist>
